@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #d8d8d8;
}

body::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border: 0.1rem solid #bebebe;
  border-radius: 0.5rem; }

body::-webkit-scrollbar-thumb:hover {
  background-color: #ececec;
  transition: all 1s;
}

